<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <th:block th:replace="nav-panel :: link-styles" th:remove="tag"/>
</head>
<body>
<header>
    <th:block th:replace="nav-panel :: navigator" th:remove="tag"/>
</header>
<main class="rowContainer">
    <a class="clickable big" th:href="@{/admin/users}">List of users</a>
    <a class="clickable big" th:href="@{/ingredient}">List of ingredients</a>
    <a class="clickable big" th:href="@{/recipemanager/}">List of recipes</a>
</main>
</body>
</html>