<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>
<body>
<h2>Admin Account List Page</h2>
<div style="display: flex; flex-direction: column;">
    <div th:each="user : ${users}" style="display: flex; flex-direction: row;">
        <div th:text="${user.getId()}"></div>
        <div> - </div>
        <div th:text="${user.getUsername()}"></div>
        <div> - </div>
        <div th:text="${user.getPassword()}"></div>
        <div> - </div>
        <div th:text="${user.getAuthorities()}"></div>
    </div>
</div>
</body>
</html>