<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingredients</title>
    <th:block th:replace="nav-panel :: link-styles" th:remove="tag"/>
</head>
<body>
<header>
    <th:block th:replace="nav-panel :: navigator" th:remove="tag"/>
</header>
<main class="mainContainer">
    <table class="listTable">
        <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Type</th>
            <th>Remove</th>
        </tr>
        <tr th:each="ing, index : ${ingredients}">
            <td th:text="${index.index+1}"></td>
            <td th:text="${ing.getName()}"></td>
            <td th:text="${ing.getType()}"></td>
            <td><button type="button"><a th:href="@{'/ingredient/delete/'+${ing.getId()}}">-</a> </button></td>
        </tr>
    </table>
    <div>
        <a class="clickable wide" th:href="@{/ingredient/add}">Add ingredient</a>
    </div>
</main>
</body>
</html>