<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="link-styles">
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </th:block>
</head>
<body>
<th:block th:fragment="navigator">
    <div id="navPanel">
        <div class="navItem">
            <a href="/">HomePage</a>
        </div>
        <div class="navItem">
            <a href="/recipe">Recipes</a>
        </div>
        <div class="navItem">
            <a sec:authorize="hasRole('ADMIN')" href="/admin">Admin panel</a>
        </div>
        <div class="navItem navItemLast">
            <a sec:authorize="isAuthenticated()" href="/myaccount">My account</a>
        </div>
        <div class="navItem">
            <a sec:authorize="!isAuthenticated()" href="/login">Login</a>
            <a sec:authorize="isAuthenticated()" href="/logout">Logout</a>
        </div>
    </div>
</th:block>
</body>
</html>