<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ingredients</title>
  <th:block th:replace="nav-panel :: link-styles" th:remove="tag"/>
</head>
<body>
<header>
  <th:block th:replace="nav-panel :: navigator" th:remove="tag"/>
</header>
<div class="mainContainer">
  <form th:action="@{/recipe/add}" method="post" th:object="${newRecipe}">
    <input type="number" hidden th:field="*{id}">
    <input type="number" hidden th:value="${accountId}" name="ownerId">
    <input type="text" hidden value="" name="description">
    <div style="display:flex; flex-direction: column;">
      <label>Name<input type="text" th:field="*{name}"></label>
      <label>Name<input type="number" th:field="*{portions}"></label>
      <button type="submit">Add</button>
    </div>
  </form>
</div>
</body>
</html>