<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${recipe.getName()}"></title>
    <th:block th:replace="nav-panel :: link-styles" th:remove="tag"/>
</head>
<body>
<header>
    <th:block th:replace="nav-panel :: navigator" th:remove="tag"/>
</header>
<main class="mainContainer">
    <div class="bigName" th:text="${recipe.getName()}"></div>
    <table class="borderlessTable">
        <tr>
            <th>Ingredient</th>
            <th>Ammount</th>
            <th>Unit</th>
        </tr>
        <tr th:each="ingMeasure : ${recipe.getIngredientList()}">
            <td th:text="${ingMeasure.getIngredient().getName()}"></td>
            <td th:text="${ingMeasure.getAmmount()}"></td>
            <td th:text="${ingMeasure.getUnits()}"></td>
        </tr>
    </table>
    <div class="smallBlockContainer">
        <p th:text="${recipe.getDescription()}"></p>
    </div>
</main>
</body>
</html>