<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ingredient adding form</title>
</head>
<body>
<div>
  <form th:action="@{/recipe/add}" method="post" th:object="${newRecipe}">
    <input type="number" hidden th:field="*{id}">
    <input type="number" hidden th:value="${accountId}" name="ownerId">
    <div style="display:flex; flex-direction: column;">
      <label>Name<input type="text" th:field="*{name}"></label>
      <label>Name<input type="number" th:field="*{portions}"></label>
      <button type="submit">Add</button>
    </div>
  </form>
</div>
</body>
</html>